@model VaWorks.Web.ViewModels.KitDrawingViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        .drawing {
            position: absolute;
            height:1483px;
            width: 1920px;
        }

        .drawing-title {
            position: absolute;
            left: 620px;
            top: 1289px;
            width: 300px;
            height: 130px;
            font-family: sans-serif;
            font-weight: 100;
            font-size: 1.5em;
            background: #fff;
        }
    </style>
    <title>@Model.KitNumber</title>
</head>
<body>
    <div class="drawing">
        <img src="~/Content/Images/@(Model.KitNumber).jpg" />
        <h1 class="drawing-title">@Model.Description</h1>
    </div>
</body>
</html>
