@{
    ViewBag.Title = "Confirmation Email Sent";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email.  Please click on the link in your email to confirm.
    </p>
    <p>
        @Html.ActionLink("Back", "Index", "Account")
    </p>
</div>
