@{
    ViewBag.Title = "Request Submitted";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div class="alert alert-success">
    <p>
        Thank you for partnering with VanAire.  You will receive an email shortly with instructions to access VanAire's giant selection of products.
    </p>
</div>
