@model IEnumerable<VaWorks.Web.DataAccess.Entities.Organization>

@{
    ViewBag.Title = "Organizations";
}

<h2>Organizations</h2>

<p>
    @Html.ActionLink("Add New Organization", "Create", null, new { @class = "btn btn-link" })
</p>


    @helper ShowTree(IEnumerable<VaWorks.Web.DataAccess.Entities.Organization> items, int level) {

    foreach (var item in items) {
        <ul class="nav nav-pills nav-stacked">
            <li>
                @Html.ActionLink(item.Name, "Details", new { id = item.OrganizationId })
            </li>
            @ShowTree(item.Children, level++)
        </ul>
}

}

@ShowTree(Model, 0)