@model IEnumerable<VaWorks.Web.Data.Entities.Organization>

@{
    ViewBag.Title = "Organizations";
}

<h2>Organizations</h2>

<p>
    @Html.ActionLink("Add New Organization", "Create", null, new { @class = "btn btn-link" })
</p>

@helper ShowTree(IEnumerable<VaWorks.Web.Data.Entities.Organization> items, int level) {
foreach (var item in items) {
        <div class="list-group-item">
            @Html.ActionLink(item.Name, "Details", new { id = item.OrganizationId }, new { @class = "btn btn-link" })
        </div>
    <div class="list-group">
        @ShowTree(item.Children, level++)
    </div>

    }
}

<div class="tree">
    <div class="list-group list-group-root">
        @ShowTree(Model, 0)
    </div>
</div>

@section styles{
<link href="~/Content/tree.css" rel="stylesheet" />
    
    }