@{
    ViewBag.Title = "VaWorks";
}

<div class="jumbotron top-buffer">
    <h1 class="text-center">VaWorks</h1>
    <p class="text-center">Online Selection Guide</p>
    <img src="~/Content/Images/evah_design.png" alt="Evah Design" />
</div>
