@model IEnumerable<VaWorks.Web.Data.Entities.ApplicationUser>

@{ 
    ViewBag.Title = "Users";
}

<h3>All Users</h3>

@using GridMvc.Html;
@Html.Grid(Model).Columns(columns => {
    columns.Add(m => m.Name).Sortable(true).Filterable(true);
    columns.Add(m => m.Organization.Name).Sortable(true).Filterable(true).Titled("Organization");
    columns.Add(m => m.Email).Sortable(true).Filterable(true);
}).WithPaging(50).WithMultipleFilters().Selectable(false)

@section styles{
    <link href="~/Content/Gridmvc.css" rel="stylesheet">
}

@section scripts{
    <script src="~/Scripts/gridmvc.min.js" type="text/javascript"></script>

}