@model IEnumerable<VaWorks.Web.Data.Entities.Quote>

@{ 
    ViewBag.Title = "VaWorks";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Quotes</h2>

<p>@{Html.RenderAction("CreateQuoteLink", "Quotes", null); }</p>

@using GridMvc.Html;
    @Html.Grid(Model).Columns(columns => {
    columns.Add(m => m.QuoteNumber).Sortable(true).Filterable(true);
    columns.Add(m => m.Title).Sortable(true).Filterable(true);
    columns.Add(m => m.CreatedByName).Titled("Created By").Sortable(true).Filterable(true);
    columns.Add(m => m.SalesPerson).Titled("Sales Person").Sortable(true).Filterable(true);
    columns.Add(m => m.CreatedDate).Titled("Date").Sortable(true).Filterable(true).Format("{0:MM/dd/yyyy hh:mm tt}");
    columns.Add().Encoded(false).Sanitized(false).SetWidth(30).RenderValueAs(m => Html.ActionLink("View", "ViewQuote", "Quotes", new { quoteId = m.QuoteId }, null));
    columns.Add().Encoded(false).Sanitized(false).SetWidth(80).RenderValueAs(m => Html.ActionLink("Edit Title", "EditTitle", "Quotes", new { id = m.QuoteId, returnUrl = Request.Url.OriginalString }, null));
}).WithPaging(50).WithMultipleFilters().Selectable(false)


