@model IEnumerable<VaWorks.Web.Data.Entities.Document>

<div class="btn-group">
    <table>
        @foreach (var d in Model) {
            <tr>
            <td style="padding-right: 25px;">@Html.ActionLink(@d.Name, "Download", "Documents", new { documentId = d.DocumentId }, null)</td>
            <td>@d.Description</td>
            </tr>
        }
    </table>
</div>

