@model VaWorks.Web.Data.Entities.Invitation

<h2>Your Invitation!</h2>
<p>This online guide provides easy access to VanAire kit numbers, prices, drawings, and engineering standards for your company’s predefined standard combinations.</p>

<p class="callout">
    <a href="@Url.Action("RegisterFromEmail", "Account", new { code = Model.Email }, Request.Url.Scheme)">Click here for registration</a>
</p>
