@model VaWorks.Web.Data.Entities.ApplicationUser

<h2>Welcome to VaWorks</h2>
<p>Thank you for registering.</p>

<p><a>User Name: <b>@Model.UserName</b></a></p>
<p><a>Name: <b>@Model.Name</b></a></p>

<p class="callout">
    <a href="@Url.Action("Login", "Account", null, Request.Url.Scheme)">Click here to Login.</a>
</p>
